extends layout

block content
    section.content
        .row
            .col-xs-12
                .box
                    .box-header
                        h3.box-title Hover Data Table
                    // /.box-header
                    .box-body
                        table#datatable1.table.table-bordered.table-striped
                            thead
                                tr
                                    th (style="display:none;")
                                    th Customer Number
                                    th First Name
                                    th Last Name
                                    th Phone
                                    th Credit Limit
                                    th
                                    th
                            tbody
                            tfoot
                                tr  
                                    th  (style="display:none;")
                                    th Customer Number
                                    th First Name
                                    th Last Name
                                    th Phone
                                    th Credit Limit
                                    th
                                    th
block head
    // DataTables
    link(rel='stylesheet' href='admin-lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css')


block scripts
    script(src='admin-lte/bower_components/datatables.net/js/jquery.dataTables.min.js')
    script(src='admin-lte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')
    script.
        $(function () {

                  var table =  $('#datatable1').DataTable({
                        'paging': true,
                        'lengthChange': true,
                        'searching': true,
                        'ordering': true,
                        'info': true,
                        'autoWidth': true,
                        'ajax': {
                            "url": "http://localhost:1001/customers"
                        },
                        "columns": [
                            {"data": "_id", "visible": false},
                            {"data": "customerNumber"},
                            {"data": "contactLastName"},
                            {"data": "contactFirstName"},
                            {"data": "phone"},
                            {"data": "creditLimit"},

                            {
                                "orderable":false,
                                "data": null,
                                "className": "center",
                                "mRender": function (data, type, row) {
                                    //var data = table.row( $(this).parents('tr')).data();
                                    console.log(data);
                                    return `<a href='http://localhost:3000/customer?id=${data._id}&viewMode=VIEW' class="btn bg-olive btn-xs"><i class="fa fa-cog"> </i> Detail</a>`
                                }
                            },
                                //<i class="fa fa-cog">
                            {
                                "orderable":false,
                                "data": null,
                                "className": "center",
                                "mRender": function (data, type, row) {

                                    return `<a class="editor_remove btn bg-maroon btn-xs"><i class="fa fa-trash-o"> </i> Delete</a>`
                                }
                            }   
                        ]
                    })
                    // Delete a record
                    $('#datatable1').on('click', 'a.editor_remove', function (e) {
                        var data = table.row( $(this).parents('tr')).data();
                        console.log (data);
                        alert("oid is: "+ data._id );
                    } );
                })


        