link(rel='stylesheet' href='admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' href='admin-lte/bower_components/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet' href='admin-lte/bower_components/Ionicons/css/ionicons.min.css')
link(rel='stylesheet' href='admin-lte/dist/css/AdminLTE.min.css')
link(rel='stylesheet' href='admin-lte/dist/css/skins/_all-skins.min.css')
block head
