doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title #{title}
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
    include head
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
body(class="hold-transition skin-blue sidebar-mini")
    .wrapper
        header.main-header
            // Logo
            a.logo(href='../../index2.html')
                // mini logo for sidebar mini 50x50 pixels
                span.logo-mini
                    b A
                    | LT
                // logo for regular state and mobile devices
                span.logo-lg
                    b Admin
                    | LTE
            // Header Navbar: style can be found in header.less
            nav.navbar.navbar-static-top
                // Sidebar toggle button
                a.sidebar-toggle(href='#' data-toggle='push-menu' role='button')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-custom-menu
                    ul.nav.navbar-nav
                        // Messages: style can be found in dropdown.less
                        li.dropdown.messages-menu
                            a.dropdown-toggle(href='#' data-toggle='dropdown')
                                i.fa.fa-envelope-o
                                span.label.label-success 4
                            ul.dropdown-menu
                                li.header You have 4 messages
                                li
                                    // inner menu: contains the actual data
                                    ul.menu
                                        li
                                            // start message
                                            a(href='#')
                                                .pull-left
                                                    img.img-circle(src='admin-lte/dist/img/user2-160x160.jpg' alt='User Image')
                                                h4
                                                    | Support Team
                                                    small
                                                        i.fa.fa-clock-o
                                                        |  5 mins
                                                p Why not buy a new awesome theme?
                                        // end message
                                        li
                                            a(href='#')
                                                .pull-left
                                                    img.img-circle(src='admin-lte/dist/img/user3-128x128.jpg' alt='User Image')
                                                h4
                                                    | AdminLTE Design Team
                                                    small
                                                        i.fa.fa-clock-o
                                                        |  2 hours
                                                p Why not buy a new awesome theme?
                                        li
                                            a(href='#')
                                                .pull-left
                                                    img.img-circle(src='admin-lte/dist/img/user4-128x128.jpg' alt='User Image')
                                                h4
                                                    | Developers
                                                    small
                                                        i.fa.fa-clock-o
                                                        |  Today
                                                p Why not buy a new awesome theme?
                                        li
                                            a(href='#')
                                                .pull-left
                                                    img.img-circle(src='admin-lte/dist/img/user3-128x128.jpg' alt='User Image')
                                                h4
                                                    | Sales Department
                                                    small
                                                        i.fa.fa-clock-o
                                                        |  Yesterday
                                                p Why not buy a new awesome theme?
                                        li
                                            a(href='#')
                                                .pull-left
                                                    img.img-circle(src='admin-lte/dist/img/user4-128x128.jpg' alt='User Image')
                                                h4
                                                    | Reviewers
                                                    small
                                                        i.fa.fa-clock-o
                                                        |  2 days
                                                p Why not buy a new awesome theme?
                                li.footer
                                    a(href='#') See All Messages
                        // Notifications: style can be found in dropdown.less
                        li.dropdown.notifications-menu
                            a.dropdown-toggle(href='#' data-toggle='dropdown')
                                i.fa.fa-bell-o
                                span.label.label-warning 10
                            ul.dropdown-menu
                                li.header You have 10 notifications
                                li
                                    // inner menu: contains the actual data
                                    ul.menu
                                        li
                                            a(href='#')
                                                i.fa.fa-users.text-aqua
                                                |  5 new members joined today
                                        li
                                            a(href='#')
                                                i.fa.fa-warning.text-yellow
                                                |  Very long description here that may not fit into the
                                                |                       page and may cause design problems
                                        li
                                            a(href='#')
                                                i.fa.fa-users.text-red
                                                |  5 new members joined
                                        li
                                            a(href='#')
                                                i.fa.fa-shopping-cart.text-green
                                                |  25 sales made
                                        li
                                            a(href='#')
                                                i.fa.fa-user.text-red
                                                |  You changed your username
                                li.footer
                                    a(href='#') View all
                        // Tasks: style can be found in dropdown.less
                        li.dropdown.tasks-menu
                            a.dropdown-toggle(href='#' data-toggle='dropdown')
                                i.fa.fa-flag-o
                                span.label.label-danger 9
                            ul.dropdown-menu
                                li.header You have 9 tasks
                                li
                                    // inner menu: contains the actual data
                                    ul.menu
                                        li
                                            // Task item
                                            a(href='#')
                                                h3
                                                    | Design some buttons
                                                    small.pull-right 20%
                                                .progress.xs
                                                    .progress-bar.progress-bar-aqua(style='width: 20%' role='progressbar' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100')
                                                        span.sr-only 20% Complete
                                        // end task item
                                        li
                                            // Task item
                                            a(href='#')
                                                h3
                                                    | Create a nice theme
                                                    small.pull-right 40%
                                                .progress.xs
                                                    .progress-bar.progress-bar-green(style='width: 40%' role='progressbar' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100')
                                                        span.sr-only 40% Complete
                                        // end task item
                                        li
                                            // Task item
                                            a(href='#')
                                                h3
                                                    | Some task I need to do
                                                    small.pull-right 60%
                                                .progress.xs
                                                    .progress-bar.progress-bar-red(style='width: 60%' role='progressbar' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100')
                                                        span.sr-only 60% Complete
                                        // end task item
                                        li
                                            // Task item
                                            a(href='#')
                                                h3
                                                    | Make beautiful transitions
                                                    small.pull-right 80%
                                                .progress.xs
                                                    .progress-bar.progress-bar-yellow(style='width: 80%' role='progressbar' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100')
                                                        span.sr-only 80% Complete
                                        // end task item
                                li.footer
                                    a(href='#') View all tasks
                        // User Account: style can be found in dropdown.less
                        li.dropdown.user.user-menu
                            a.dropdown-toggle(href='#' data-toggle='dropdown')
                                img.user-image(src='admin-lte/dist/img/user2-160x160.jpg' alt='User Image')
                                span.hidden-xs Alexander Pierce
                            ul.dropdown-menu
                                // User image
                                li.user-header
                                    img.img-circle(src='admin-lte/dist/img/user2-160x160.jpg' alt='User Image')
                                    p
                                        | Alexander Pierce - Web Developer
                                        small Member since Nov. 2012
                                // Menu Body
                                li.user-body
                                    .row
                                        .col-xs-4.text-center
                                            a(href='#') Followers
                                        .col-xs-4.text-center
                                            a(href='#') Sales
                                        .col-xs-4.text-center
                                            a(href='#') Friends
                                    // /.row
                                // Menu Footer
                                li.user-footer
                                    .pull-left
                                        a.btn.btn-default.btn-flat(href='#') Profile
                                    .pull-right
                                        a.btn.btn-default.btn-flat(href='#') Sign out
                        // Control Sidebar Toggle Button
                        li
                            a(href='#' data-toggle='control-sidebar')
                                i.fa.fa-gears
        // Left side column. contains the logo and sidebar
        aside.main-sidebar
            // sidebar: style can be found in sidebar.less
            section.sidebar
                // Sidebar user panel
                .user-panel
                    .pull-left.image
                        img.img-circle(src='admin-lte/dist/img/user2-160x160.jpg' alt='User Image')
                    .pull-left.info
                        p Alexander Pierce
                        a(href='#')
                            i.fa.fa-circle.text-success
                            |  Online
                // search form
                form.sidebar-form(action='#' method='get')
                    .input-group
                        input.form-control(type='text' name='q' placeholder='Search...')
                        span.input-group-btn
                            button#search-btn.btn.btn-flat(type='submit' name='search')
                                i.fa.fa-search
                // /.search form
                // sidebar menu: : style can be found in sidebar.less
                ul.sidebar-menu(data-widget='tree')
                    li.header MAIN NAVIGATION
                    li.treeview
                        a(href='#')
                            i.fa.fa-dashboard
                            span Dashboard
                            span.pull-right-container
                                i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='../../index.html')
                                    i.fa.fa-circle-o
                                    |  Dashboard v1
                            li
                                a(href='../../index2.html')
                                    i.fa.fa-circle-o
                                    |  Dashboard v2
                    li.treeview
                        a(href='#')
                            i.fa.fa-table
                            span Pages
                            span.pull-right-container
                                i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='http://localhost:3000/')
                                    i.fa.fa-circle-o
                                    |  Data table
                            li
                                a(href='http://localhost:3000/customerList')
                                    i.fa.fa-circle-o
                                    |   Customer List
                            li
                                a(href='http://localhost:3000/mailBox')
                                    i.fa.fa-circle-o
                                    |   Mail Box
                    li.treeview
                        a(href='#')
                            i.fa.fa-files-o
                            span Layout Options
                            span.pull-right-container
                                span.label.label-primary.pull-right 4
                        ul.treeview-menu
                            li
                                a(href='../layout/top-nav.html')
                                    i.fa.fa-circle-o
                                    |  Top Navigation
                            li
                                a(href='../layout/boxed.html')
                                    i.fa.fa-circle-o
                                    |  Boxed
                            li
                                a(href='../layout/fixed.html')
                                    i.fa.fa-circle-o
                                    |  Fixed
                            li
                                a(href='../layout/collapsed-sidebar.html')
                                    i.fa.fa-circle-o
                                    |  Collapsed Sidebar
                    li
                        a(href='../widgets.html')
                            i.fa.fa-th
                            span Widgets
                            span.pull-right-container
                                small.label.pull-right.bg-green new
                    li.treeview
                        a(href='#')
                            i.fa.fa-pie-chart
                            span Charts
                            span.pull-right-container
                                i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='../charts/chartjs.html')
                                    i.fa.fa-circle-o
                                    |  ChartJS
                            li
                                a(href='../charts/morris.html')
                                    i.fa.fa-circle-o
                                    |  Morris
                            li
                                a(href='../charts/flot.html')
                                    i.fa.fa-circle-o
                                    |  Flot
                            li
                                a(href='../charts/inline.html')
                                    i.fa.fa-circle-o
                                    |  Inline charts
                    li.treeview
                        a(href='#')
                            i.fa.fa-laptop
                            span UI Elements
                            span.pull-right-container
                                i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='../UI/general.html')
                                    i.fa.fa-circle-o
                                    |  General
                            li
                                a(href='../UI/icons.html')
                                    i.fa.fa-circle-o
                                    |  Icons
                            li
                                a(href='../UI/buttons.html')
                                    i.fa.fa-circle-o
                                    |  Buttons
                            li
                                a(href='../UI/sliders.html')
                                    i.fa.fa-circle-o
                                    |  Sliders
                            li
                                a(href='../UI/timeline.html')
                                    i.fa.fa-circle-o
                                    |  Timeline
                            li
                                a(href='../UI/modals.html')
                                    i.fa.fa-circle-o
                                    |  Modals
                    li.treeview
                        a(href='#')
                            i.fa.fa-edit
                            span Forms
                            span.pull-right-container
                                i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='../forms/general.html')
                                    i.fa.fa-circle-o
                                    |  General Elements
                            li
                                a(href='../forms/advanced.html')
                                    i.fa.fa-circle-o
                                    |  Advanced Elements
                            li
                                a(href='../forms/editors.html')
                                    i.fa.fa-circle-o
                                    |  Editors
                    li.treeview.active
                        a(href='#')
                            i.fa.fa-table
                            span Tables
                            span.pull-right-container
                                i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='simple.html')
                                    i.fa.fa-circle-o
                                    |  Simple tables
                            li.active
                                a(href='data.html')
                                    i.fa.fa-circle-o
                                    |  Data tables
                    li
                        a(href='../calendar.html')
                            i.fa.fa-calendar
                            span Calendar
                            span.pull-right-container
                                small.label.pull-right.bg-red 3
                                small.label.pull-right.bg-blue 17
                    li
                        a(href='../mailbox/mailbox.html')
                            i.fa.fa-envelope
                            span Mailbox
                            span.pull-right-container
                                small.label.pull-right.bg-yellow 12
                                small.label.pull-right.bg-green 16
                                small.label.pull-right.bg-red 5
                    li.treeview
                        a(href='#')
                            i.fa.fa-folder
                            span Examples
                            span.pull-right-container
                                i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='../examples/invoice.html')
                                    i.fa.fa-circle-o
                                    |  Invoice
                            li
                                a(href='../examples/profile.html')
                                    i.fa.fa-circle-o
                                    |  Profile
                            li
                                a(href='../examples/login.html')
                                    i.fa.fa-circle-o
                                    |  Login
                            li
                                a(href='../examples/register.html')
                                    i.fa.fa-circle-o
                                    |  Register
                            li
                                a(href='../examples/lockscreen.html')
                                    i.fa.fa-circle-o
                                    |  Lockscreen
                            li
                                a(href='../examples/404.html')
                                    i.fa.fa-circle-o
                                    |  404 Error
                            li
                                a(href='../examples/500.html')
                                    i.fa.fa-circle-o
                                    |  500 Error
                            li
                                a(href='../examples/blank.html')
                                    i.fa.fa-circle-o
                                    |  Blank Page
                            li
                                a(href='../examples/pace.html')
                                    i.fa.fa-circle-o
                                    |  Pace Page
                    li.treeview
                        a(href='#')
                            i.fa.fa-share
                            span Multilevel
                            span.pull-right-container
                                i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='#')
                                    i.fa.fa-circle-o
                                    |  Level One
                            li.treeview
                                a(href='#')
                                    i.fa.fa-circle-o
                                    |  Level One
                                    span.pull-right-container
                                        i.fa.fa-angle-left.pull-right
                                ul.treeview-menu
                                    li
                                        a(href='#')
                                            i.fa.fa-circle-o
                                            |  Level Two
                                    li.treeview
                                        a(href='#')
                                            i.fa.fa-circle-o
                                            |  Level Two
                                            span.pull-right-container
                                                i.fa.fa-angle-left.pull-right
                                        ul.treeview-menu
                                            li
                                                a(href='#')
                                                    i.fa.fa-circle-o
                                                    |  Level Three
                                            li
                                                a(href='#')
                                                    i.fa.fa-circle-o
                                                    |  Level Three
                            li
                                a(href='#')
                                    i.fa.fa-circle-o
                                    |  Level One
                    li
                        a(href='https://adminlte.io/docs')
                            i.fa.fa-book
                            span Documentation
                    li.header LABELS
                    li
                        a(href='#')
                            i.fa.fa-circle-o.text-red
                            span Important
                    li
                        a(href='#')
                            i.fa.fa-circle-o.text-yellow
                            span Warning
                    li
                        a(href='#')
                            i.fa.fa-circle-o.text-aqua
                            span Information
            // /.sidebar
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                h1
                    | #{contentHeader}
                    small #{contentHeaderDesc}
                ol.breadcrumb
                    // each breadcrumb in breadcrumbs
                    //     li
                    //         a(href="#{breadcrumb.url}")
                    //             i.fa.fa-dashboard
                    //             | #{breadcrumb.name}

                    li
                        a(href='#')
                            i.fa.fa-dashboard
                            |  Home
                    li
                        a(href='#') Tables
                    li.active Data tables
            // Main content
            block content
        footer.main-footer
            .pull-right.hidden-xs
                b Version
                |  2.4.0
            strong
                | Copyright &copy; 2014-2016
                a(href='https://adminlte.io') Almsaeed Studio
                | .
            |  All rights
            |     reserved.
        // Control Sidebar
        aside.control-sidebar.control-sidebar-dark
            // Create the tabs
            ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
                li
                    a(href='#control-sidebar-home-tab' data-toggle='tab')
                        i.fa.fa-home
                li
                    a(href='#control-sidebar-settings-tab' data-toggle='tab')
                        i.fa.fa-gears
            // Tab panes
            .tab-content
                // Home tab content
                #control-sidebar-home-tab.tab-pane
                    h3.control-sidebar-heading Recent Activity
                    ul.control-sidebar-menu
                        li
                            a(href='javascript:void(0)')
                                i.menu-icon.fa.fa-birthday-cake.bg-red
                                .menu-info
                                    h4.control-sidebar-subheading Langdon&apos;s Birthday
                                    p Will be 23 on April 24th
                        li
                            a(href='javascript:void(0)')
                                i.menu-icon.fa.fa-user.bg-yellow
                                .menu-info
                                    h4.control-sidebar-subheading Frodo Updated His Profile
                                    p New phone +1(800)555-1234
                        li
                            a(href='javascript:void(0)')
                                i.menu-icon.fa.fa-envelope-o.bg-light-blue
                                .menu-info
                                    h4.control-sidebar-subheading Nora Joined Mailing List
                                    p nora@example.com
                        li
                            a(href='javascript:void(0)')
                                i.menu-icon.fa.fa-file-code-o.bg-green
                                .menu-info
                                    h4.control-sidebar-subheading Cron Job 254 Executed
                                    p Execution time 5 seconds
                    // /.control-sidebar-menu
                    h3.control-sidebar-heading Tasks Progress
                    ul.control-sidebar-menu
                        li
                            a(href='javascript:void(0)')
                                h4.control-sidebar-subheading
                                    | Custom Template Design
                                    span.label.label-danger.pull-right 70%
                                .progress.progress-xxs
                                    .progress-bar.progress-bar-danger(style='width: 70%')
                        li
                            a(href='javascript:void(0)')
                                h4.control-sidebar-subheading
                                    | Update Resume
                                    span.label.label-success.pull-right 95%
                                .progress.progress-xxs
                                    .progress-bar.progress-bar-success(style='width: 95%')
                        li
                            a(href='javascript:void(0)')
                                h4.control-sidebar-subheading
                                    | Laravel Integration
                                    span.label.label-warning.pull-right 50%
                                .progress.progress-xxs
                                    .progress-bar.progress-bar-warning(style='width: 50%')
                        li
                            a(href='javascript:void(0)')
                                h4.control-sidebar-subheading
                                    | Back End Framework
                                    span.label.label-primary.pull-right 68%
                                .progress.progress-xxs
                                    .progress-bar.progress-bar-primary(style='width: 68%')
                    // /.control-sidebar-menu
                // /.tab-pane
                // Stats tab content
                #control-sidebar-stats-tab.tab-pane Stats Tab Content
                // /.tab-pane
                // Settings tab content
                #control-sidebar-settings-tab.tab-pane
                    form(method='post')
                        h3.control-sidebar-heading General Settings
                        .form-group
                            label.control-sidebar-subheading
                                | Report panel usage
                                input.pull-right(type='checkbox' checked='')
                            p
                                | Some information about this general settings option
                        // /.form-group
                        .form-group
                            label.control-sidebar-subheading
                                | Allow mail redirect
                                input.pull-right(type='checkbox' checked='')
                            p
                                | Other sets of options are available
                        // /.form-group
                        .form-group
                            label.control-sidebar-subheading
                                | Expose author name in posts
                                input.pull-right(type='checkbox' checked='')
                            p
                                | Allow the user to show his name in blog posts
                        // /.form-group
                        h3.control-sidebar-heading Chat Settings
                        .form-group
                            label.control-sidebar-subheading
                                | Show me as online
                                input.pull-right(type='checkbox' checked='')
                        // /.form-group
                        .form-group
                            label.control-sidebar-subheading
                                | Turn off notifications
                                input.pull-right(type='checkbox')
                        // /.form-group
                        .form-group
                            label.control-sidebar-subheading
                                | Delete chat history
                                a.text-red.pull-right(href='javascript:void(0)')
                                    i.fa.fa-trash-o
                        // /.form-group
                // /.tab-pane
        // /.control-sidebar
        //
          Add the sidebar's background. This div must be placed
          immediately after the control sidebar
        .control-sidebar-bg
    // page script
include scripts
