extends layout

block content
    section.content
        .row
            .col-xs-12
                #notification
                .box.box-primary
                        .box-header.with-border
                            h3.box-title Compose New Message
                            // /.box-header
                        #overlay
                        .box-body
                            .form-group
                                input#mailTo.form-control(placeholder='To:', name='mailTo', type='email', required='required')
                            .form-group
                                input#subject.form-control(placeholder='Subject:', name='subject', required='required')
                            .form-group
                                textarea#compose_textarea.form-control(style='height: 300px', name='mailBody', required='required')
                            .form-group
                                .btn.btn-default.btn-file
                                    i.fa.fa-paperclip
                                    |  Attachment
                                    input(type='file' name='attachment')
                                p.help-block Max. 32MB
                        // /.box-body
                        .box-footer
                            .pull-right
                                button.btn.btn-default(type='button')
                                    i.fa.fa-pencil
                                    |  Draft
                                button#btn_submit.btn.btn-primary(type='button')
                                    i.fa.fa-envelope-o
                                    |  Send
                            button.btn.btn-default(type='reset')
                                i.fa.fa-times
                                |  Discard
block head
    link(rel='stylesheet' href='admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')

block scripts
    script(src='admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')
    script(src='admin-lte/js.components/alerts.js')
    script.
        $(function () {
            $('#compose_textarea').wysihtml5()
        })

        btn_submit.onclick = function () {
            console.log('submit');
            let resp = call_send_email_api();
            console.log(resp);

            resp.then(function (result) {
                overlay.classList.remove('overlay');
                overlay.innerHTML = '';
                show_alert_success(notification, 'SUCCESS', 'Send Email Successfully');
            }).catch(function (err) {
                show_alert_success(notification, 'ERROR', 'Send Email ERROR');
            })
        }

        function call_send_email_api() {
            overlay.classList.add('overlay');
            overlay.innerHTML+= `<i class="fa fa-refresh fa-spin"></i>`

            return new Promise(function (resolve , reject)  {
                let http_request = new XMLHttpRequest();
                http_request.onload = function () {

                    let result = http_request.responseText;
                    console.log(result);
                    let objectResult = JSON.parse(result);
                  resolve(objectResult);
                }

            let formData = {
                    mailTo: mailTo.value,
                    subject: subject.value,
                    mailBody: compose_textarea.value
                };
            http_request.open('POST', "http://localhost:3000/admin/mail",true);
                //application/
            http_request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            http_request.send(JSON.stringify(formData));
        })}
