// jQuery 3
script(src='../admin-lte/bower_components/jquery/dist/jquery.min.js')
    // Bootstrap 3.3.7
script(src='../admin-lte/bower_components/bootstrap/dist/js/bootstrap.min.js')
    // SlimScroll
script(src='../admin-lte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js')
    // FastClick
script(src='../admin-lte/bower_components/fastclick/lib/fastclick.js')
    // AdminLTE App
script(src='../admin-lte/dist/js/adminlte.min.js')
    // AdminLTE for demo purposes
script(src='../admin-lte/dist/js/demo.js')

script(src='../admin-lte/bower_components/pagination.min.js')
block scripts


