﻿extends ../layout
block content
    section.content
        .box.box-success
            .box-header.with-border
                h1.box-title Customer Detail
                .box-tools.pull-right
                        a#btnAdd.btn.bg-orange.btn-xs(type='button' style="margin-right: 5px;" href=addAction)
                            i.fa.fa-plus-square
                            |    Add
                        a#btnEdit.btn.bg-olive.btn-xs(type='button' style="margin-right: 5px;" href=editAction)
                            i.fa.fa-edit
                            |    Edit
                        button#btnDelete.btn.bg-maroon.btn-xs(type='button' data-toggle="modal" data-target="#modal-default")
                            i.fa.fa-trash-o
                            |    Delete
            
            form#form(role="form" method='POST' action=formAction)
                block formBody
                if viewMode == 'ADD' || viewMode == 'EDIT'
                    .box-footer.clearfix
                      .box-tools.pull-left
                        button.btn.btn-info.btn-xs(type='submit' style='margin-right: 5px;')
                          i.fa.fa-save
                          |  Save
                        button#btnCancel.btn.btn-normal.btn-xs(type='cancel')
                          i.fa.fa-arrow-circle-o-left
                          |  Cancel
    
    #modal-default.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4.modal-title 
                i.fa.fa-warning
                | 
                | Confirmation
          .modal-body
            p Delete the selected record(s)?
          .modal-footer
            button.btn.btn-default.pull-left(type='button' data-dismiss='modal') Cancel
            a.btn.bg-maroon(type='button' href=deleteAction) Delete
block scripts
    if viewMode == 'VIEW'
        script.
             $("#form :input").attr("disabled", true)
    script.
        function cancelHandler () {
            window.location.href = deleteAction
        }

        
   