extends ../layout
block content
    section.content
        .box.box-info.bg-gray-light
            .box-header.with-border
                h3.box-title Title
                .box-tools
                    div(id='paginator')
            .box-body
                div(id="container")
            .box-footer.clearfix
block scripts
    script.
        var customerList = []
        window.onload = function () {
            callGetCustomerListApi().then(function (result)  {
                customerList = result;
                renderPaginator();
                renderCustomerList(0, 10);
            })
        }

        function renderCustomerList(start , end ) {
            let innerHtml ="";
            let html = '';
            let listCustomerPerPage = customerList.data.slice(start, end);
            listCustomerPerPage.forEach(function(data) {
            html+= `${renderCustomerInfoCard(data)}`
            })
            innerHtml+= `<div class="row">
            ${html}
                </div>`
            container.innerHTML = innerHtml;
        }

        function renderPaginator() {
            console.log(customerList);
            if(customerList.data.length > 10 ) {
                let pageCount = customerList.data.length / 10;
                let html = ``;
                let start = 0;
                for (let i=0; i<pageCount; i++) {
                    let end = start + 10;
                    html+= `<li><a href="lrenderCustomerList(${start}, ${end})">${i+1}</a></li>`;
                    start = end ;
                }
                paginator.innerHTML = `<ul class="pagination pagination-sm no-margin pull-left">
                  <li><a href="#">&laquo;</a></li>
                   ${html}
                  <li><a href="#">&raquo;</a></li>
                </ul>`
                console.log(paginator.innerHTML);
            }
        }

        function renderCustomerInfoCard (customerInfo) {
            let innerHtml = '';
                innerHtml += `<div class="col-md-4">
                   <div class="box box-widget widget-user-2">
                     <div class="widget-user-header bg-yellow">
                       <div class="widget-user-image">
                         <img class="img-circle" src="admin-lte/dist/img/${customerInfo.customerPhoto}" alt="User Avatar">
                       </div>
                       <h3 class="widget-user-username">${customerInfo.customerName}</h3>
                       <h5 class="widget-user-desc">${customerInfo.phone}</h5>
                     </div>
                     <div class="box-footer no-padding">
                       <ul class="nav nav-stacked">
                        <li><a href="#">Customer Number <span class="pull-right text-green">${customerInfo.customerNumber}</span></a></li>
                         <li><a href="#">Address Line 1 <span class="pull-right text-green">${customerInfo.addressLine1}</span></a></li>
                         <li><a href="#">City <span class="pull-right text-green">${customerInfo.city}</span></a></li>
                         <li><a href="#">Credit Limit <span class="pull-right text-green">${customerInfo.creditLimit}</span></a></li>
                       </ul>
                     </div>
                   </div>
                 </div>`
            return innerHtml;
        }

        function callGetCustomerListApi() {
            return new Promise(function (resolve , reject)  {
                let http_request = new XMLHttpRequest();
                http_request.onload = function () {
                    let result = http_request.responseText;
                    let objectResult = JSON.parse(result);
                    resolve(objectResult);
                }
                http_request.open('GET',"http://localhost:1001/customers", true);
                http_request.send();
            })
        }
