﻿extends ../base/BaseMaintenance
block formBody
    .box-body
        .form-group.col-xs-8
            label.control-label(for='inputCustomerNumber') Customer number
            input#inputCustomerNumber.form-control(type='number' name='customerNumber' placeholder='Customer number' value=customer.customerNumber readonly = isReadOnly)
            input#hiddenOid(type='hidden' name='_id'  value=customer._id )
        .form-group.col-xs-6
            label.control-label(for='inputContactLastName') Contact lastname
            input#inputContactLastName.form-control(type='text' name='contactLastName' placeholder='Contact lastname' value=customer.contactLastName )
        .form-group.col-xs-6
            label.control-label(for='inputContactFirstName') Contact firstname
            input#inputContactFirstName.form-control(type='text' name='contactFirstName' placeholder='Contact firstname' value=customer.contactFirstName)
        .form-group.col-xs-8
            label.control-label(for='inputPhoneNumber') Phone number
            input#inputPhoneNumber.form-control(type='phone' name='phone' placeholder='XXX - XXXX - XXXX' value=customer.phone)
        .form-group.col-xs-8
            label.control-label(for='inpuntAddressLine1') Address line 1
            input#inputAddressLine1.form-control(type='text' name='addressLine1'  placeholder='Address Line 1 ...' value=customer.addressLine1)
        .form-group.col-xs-8
            label.control-label(for='inpuntAddressLine2') Address line 1
            input#inputAddressLine2.form-control(type='text' name='addressLine2' placeholder='Address Line 2 ...' value=customer.addressLine2)